[Desktop Entry]
Type=Application
Version=1.0
Name=Slipcase
GenericName=Slipcase Viewer
GenericName[de]=Slipcase-Betrachter
Comment=Open a Slipcase container and see what is in it
Comment[de]=Einen Slipcase-Container öffnen und sehen, was darin ist
Exec=slipcase-desktop %f
Icon=slipcase-desktop
Terminal=false
MimeType=application/x.slipcase+zip;
Categories=Utility;Archiving;
Keywords=slipcase;slpc;container;metadata;archive;
Keywords[de]=slipcase;slpc;Container;Metadaten;Archiv;
StartupNotify=true
StartupWMClass=slipcase-desktop
